.gallery{
   
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;

}
.pics{
    
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;

}
.pics:hover{
    opacity: .8;
}
@media(max-width:991px) {
    .gallery{
        column-count: 2;
    }
}
@media(max-width:480px) {
    .gallery{
        
        column-count: 1;
        
        column-width: 100%;
    }
}